# Dependencies
node_modules
*/node_modules

# NestJS specific
/dist
*/dist
/build
*/build

# Next.js specific
.next
*/.next
out
*/out

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.*
!.env.example
*/.env
*/.env.*
!*/.env.example

# temp directory
.temp
.tmp
/tmp

# OS files
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# Docker
docker-compose.override.yml

# Testing
coverage
.nyc_output

